{% extends 'users/base.html' %}

{% load static %}

{% block content %}
<form class="login100-form validate-form" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error" >{{form.not_field_errors}}</div>

    <span class="login100-form-title p-b-26">
        Регистрация
    </span>
    <span class="login100-form-title p-b-48">
        <img class="form-center-icon" src="{% static 'users/imgs/icons/icon.png' %}">
    </span>

    {% for f in form %}
        {% if f.label == 'Пароль' or f.label == 'Повтор пароля' %}
        <div class="wrap-input100 validate-input">
            <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
            </span>
            {{ f }}
            <span class="focus-input100" data-placeholder="{{ f.label }}"></span>
        </div>
        {% else %}
        <div class="wrap-input100 validate-input">
            {{ f }}
            <span class="focus-input100" data-placeholder="{{ f.label }}"></span>
        </div>
        {% endif %}
        <div class="form-error">{{f.errors}}</div>
    {% endfor %}

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
                Зарегистрироваться
            </button>
        </div>
    </div>

    <div class="text-center p-t-115">
        <a class="txt2" id="text-register-btn" href="{% url 'users:login' %}">
            У меня есть аккаунт
        </a>
    </div>
</form>
{% endblock %}